{% extends "base.twig" %}

{% block title %}Pagina Inicial
{% endblock %}

{% block link %}
	<link rel="stylesheet" href="/assets/styles.css">
{% endblock %}


{% block content %}
	<nav>
		<a href="/">Início</a>
		<a href="/produtos">Produtos</a>
		<a href="/cupons">Cupons</a>
		<a href="/pedidos">Pedidos</a>

		{% if pedido is defined and pedido.itensPedido is defined and pedido.itensPedido|length > 0 %}
			{% set totalItens = 0 %}
			{% for item in pedido.itensPedido %}
				{% set totalItens = totalItens + 1 %}
			{% endfor %}
			<a href="/carrinho">
				Carrinho
				<span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ totalItens }}</span>
			</a>
		{% endif %}
	</nav>

	<div class="container flex-banner">
		<div class="text-section">
			<h1>Bem-vindo ao ERP da Montink</h1>
			<p>Selecione a opção desejada no menu acima.</p>
		</div>

		<div class="image-section">
			<img src="/assets/images/image_montink_index.png" alt="Imagem de destaque do Nuvix">
		</div>
	</div>
{% endblock %}